
@font-face {
    font-family: "Inconsolata-load";
    src: url(http://www.npisanti.com/data/Inconsolata-Regular.ttf) format("truetype");
}

body {
    margin: 0 auto;
    max-width:620px;
    background-color: black;
    color: #ccc;
    font-size: 16px;
    font-family: 'Inconsolata-load', 'Inconsolata', 'Consolas', 'Lucida Console', 'Monaco', 'Ubuntu Mono','Iosevka Regular', monospace; 
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

header { 
	margin-top:20px;
    margin-bottom:20px; 
    padding-left: 6px;
}

section{
	margin-top:10px;
    margin-bottom:20px;
	background-color: #111617;  	
    padding: 15px 10px 15px;
}

footer{
    text-align: right;
    margin-bottom:30px
}

ul { 
    display: block;
    list-style-type: square;
    margin: 1em 0 0 1em;
    padding-left: 20px;
}

video { 
    outline: none;
}

a:link, a:visited, a:active{
	color: #fff;
}

a:hover, .headerblock a:hover, .thumb a:hover{
	color: #f11;
}

.center {
    float: center;
    margin: 0 auto;
}

.centerimg {
    display: block;
    margin-right: auto;
    margin-left: auto;	
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column3 {
    float: left;
    width: 32.33%;
    padding: 0.5%;
}

.column2 {
    float: left;
    width: 49%;
    padding: 0.5%;
}
