
@font-face {
    font-family: "Inconsolata";
    src: url(http://www.npisanti.com/data/Inconsolata-Regular.ttf) format("truetype");
}

body {
    background-color: black;
    color: #ccc;
    font-size: 16px;
    font-family: 'Inconsolata', monospace; 
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

section{
	margin-top:10px;
    margin-bottom:30px;
    max-width:600px;
}

.fill{
	background-color: #111617;  	
    padding: 1%;
    margin-bottom:20px;
}

.center {
    float: center;
    margin-right: auto;
    margin-left: auto;	
}

.headerspace {
    margin-top:30px;
}

.contentwidth {
    max-width:600px;
}

.sectionheader{
    text-align: right;
}

/* some tags styling */

ul { 
    display: block;
    list-style-type: square;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}

video { 
    outline: none;
}

/* hyperlinks */

a:link, a:visited, a:active{
	color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    padding-bottom: 1px;
}

a:hover, .headerblock a:hover, .thumb a:hover{
	color: #f11;
}

/* sccrollbar */

::-webkit-scrollbar-thumb:vertical{
    background-color: #ccc;
    height: 100px;
    -webkit-border-radius: 3px;
}
 
::-webkit-scrollbar-thumb:horizontal{
    background-color: #ccc;
    height: 10px;
    -webkit-border-radius: 3px;
}
 
::-webkit-scrollbar{
    height: 10px;
    width: 8px;
    background-color: #000;
}

/* for responsive aligned images */

.centerimg {
    display: block;
    margin-right: auto;
    margin-left: auto;	
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column3 {
    float: left;
    width: 32.33%;
    padding: 0.5%;
}

.column2 {
    float: left;
    width: 49%;
    padding: 0.5%;
}
